name: Publish Package to npmjs
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    env: publish
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm
      - run: pnpm i -r
      - run: npm run lint
      - run: npm run toc
      - run: git diff --stat --exit-code
      - run: npx prettier --check .
      - run: npm run coverage
      - run: npm pkg delete devDependencies scripts packageManager
      - run: npm publish --access public --provenance
